version: '3.9'

services:
  backend:
    container_name: plataforma-backend
    build:
      context: https://github.com/radonix/BackendPlatArt.git
      dockerfile: Dockerfile
    environment:
      - PORT=3001
      - DATABASE_URL=mysql://root:root@db:3306/plataforma_artesanal
      - NODE_ENV=production
    ports:
      - "3001:3001"
    depends_on:
      - db
    networks:
      - plataforma_net

  frontend:
    container_name: plataforma-frontend
    build:
      context: https://github.com/radonix/PlataformaArtesanal.git
      dockerfile: Dockerfile
    ports:
      - "80:80"
    environment:
      - VITE_API_URL=http://localhost:3001
    depends_on:
      - backend
    networks:
      - plataforma_net

  db:
    container_name: plataforma-db
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: plataforma_artesanal
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - plataforma_net

networks:
  plataforma_net:

volumes:
  dbdata:
